DB_NAME = ''
DB_USERNAME =''
DB_PASSWORD = ''
SERVER_IP =''
LOCAL_IP = ''
DB_PORT = ''
S3_USER =''
BUCKET_REGION = ''
BUCKET_NAME =''
S3_ACCESS_KEY =''
S3_SECRET_KEY =''
FIREBASE_SERVER_KEY = ''
SECRET_KEY = ''